<footer class="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__columns">
                <div class="footer__column">
                    <p>Some article</p>
                    <ul>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                    </ul>
                </div>
                <div class="footer__column">
                    <p>Some article</p>
                    <ul>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                    </ul>
                </div>
                <div class="footer__column">
                    <p>Some article</p>
                    <ul>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                    </ul>
                </div>
                <div class="footer__column">
                    <p>Some article</p>
                    <ul>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                        <li><a href="#">some links</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__basement">
                <a href="#" class="footer__logo">
                    <img src="/images/logo-light.png" alt="logo">
                </a>
                <p class="footer__copyright">
                    Considered as one of the best and the oldest-existing torrent sites there is,
                    The Pirate Bay is an Internet-based repository of software and entertainment content.
                    And this has been gracing the greater Internet populace with its easy to use interface
                    since its maiden year in 2003.
                </p>
            </div>
        </div>
    </div>
</footer>
